[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "pidots"]
	path = pidots
	url = ssh://git@bitbucket.org/nybblr/pidots
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
